// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static {
  border-style: dotted;
  border-color: gray;
  max-width: 300px;
  margin: 100px auto auto;
  text-align: center;
}
