<footer class="footer" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 吉林大学口腔医院
        <br>Design by
        <a href="" target=_new>lisuji</a>
    </p>
</footer>
<!-- 以上部分，不需要记忆 -->
